body {
  font-family: Arial;
  background: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}
